<td  data-controller="coin-wallet-form" 
     data-coin-wallet-form-url-value="<%= quantity_coin_wallets_path(coin_id: coin.id, wallet_id: wallet.id) %>">
  <div class='text-end' data-coin-wallet-form-target="quantity"></div>
</td>

