
<div>Investissement : <%= number_with_precision(@config.investment_eur, precision: 2) %> EUR </div>
<div>Valeur actuelle : <%= number_with_precision(@total_value, precision: 2) %> EUR </div>
<div>Variation : <%= total_variation %> </div>
