<div data-controller='transaction-form'>
  <div class='segment transaction-form' data-transaction-form-target='formWrapper'>
    <%= form_for  :transaction, method: :create, 
                  data: {"transaction-form-target" => "form", 
                        "action" => "ajax:error->transaction-form#handleError ajax:success->transaction-form#handleDashboardSuccess"}, 
                  remote: true, local: false do |form| %>
      <%= render 'transactions/inline_form_fields', form: form %>
    <% end %>
  </div>
</div>
