<% wallet_total = get_wallet_total(@wallets, wallet_id, currency) %>

<td  data-controller="template" 
     data-template-url-value="<%= total_wallet_path(wallet_id, currency: currency) %>"
     data-template-coin-value=""
     data-template-wallet-value="<%= wallet_id %>"
     data-action="update-quantity@window->template#reload 
                  update-data@window->template#reload"
     >
  <div class='text-end' data-template-target="template">
    <%= wallet_total %>
  </div>
</td>

