<% wallet_total = get_wallet_total(@wallets, wallet_id, currency) %>

<td  data-controller="template" 
     data-template-url-value="<%= total_wallet_path(wallet_id, currency: currency) %>"
     data-action="update-quantity@window->template#load update-data@window->template#load"
     >
  <div class='text-end' data-template-target="template">
    <%= wallet_total %>
  </div>
</td>

