<table class='table table-bordered  table-sm custom-table'>
  <%= render 'dashboard/table/table_head' %>
  <%= render 'dashboard/table/table_body' %>
  <%= render 'dashboard/table/table_foot' %>
</table>  