.home {
  table {
    font-size: smaller;
    color: $black;

    input {
      &#quantity {
        max-width: 100px;
      }
    }

    tr:hover {
      background-color: #ebebeb;
    }
  }

  #pie-chart {
    max-width: 600px;
    margin: auto;
  }

  .spinner-container {
    padding: 2em;
  }

  .icon-link-to {
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
}