.home {
  table {
    input {
      &#quantity {
        max-width: 100px;
      }
    }
  }

  #pie-chart {
    max-width: 600px;
    margin: auto;
  }

  .spinner-container {
    padding: 2em;
  }
}