.main-container {
  max-width: 1500px;
  margin: auto;
  padding: 1em;
}

.hidden {
  display: none;
}

.user-input {
  color: rgb(99, 99, 211);
}

.buttons {
  margin: 1em 0;
}

.selectable {
  &:hover {
    background-color: rgb(223, 223, 223);
    cursor: pointer;
  }
}

.red {
  color: red;
}

.green {
  color: green;
}

#flash{
  min-width: 500 px;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.tab-content {
  margin-top: 1em;
}