<div class="hidden flash alert alert-success" role="alert" id='flash'>

</div>


<% flash.each do |type, message| %>
  <% mapped_type = type == 'notice' ? 'success' : 'warning' %>
  <div class="alert alert-<%= mapped_type %>" role="alert">
    <%= message %>
  </div>
<% end %>