<br/>
<nav>
  <div class='item'>
    <%= link_to 'Home', root_path %>
  </div>
  <div class='item'>
    <%= link_to 'Wallets', wallets_path %>
  </div>
  <div class='item'>
    <%= link_to 'Coins', coins_path %>
  </div>
</nav>